Package: libzengl32
Version: 0.0.25
Section: libs
Architecture: amd64
Maintainer: Andrey <dr.andru@gmail.com>
Depends: ia32-libs
Homepage: http://andru.2x4.ru/zengl.html
Description: ZenGL
  Crossplatform 2D/3D engine.
  .
  homepage: http://andru.2x4.ru/zengl.html
